<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a class="site_title"><img src="/images/logo.svg"> <span>Pioneers Tutoring</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="<%=user_detail.profile_image !='' ? '/ProfileImage/'+user_detail.profile_image:'/images/noImage.jpg'%>" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <h2><%=user_detail.first_name !='' ? user_detail.first_name+' '+user_detail.last_name : '' %></h2>
        <span>
          <% if(user_detail.role ==1){ %>
            Admin
          <% }else if(user_detail.role == 2) { %>
            Tutor
          <% }else { %>
            Student
          <% } %>
        </span>
      </div>
    </div>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <!-- <li>
            <a href="/dashboard">
              <span class="icon"><img src="/images/dashboard.svg"></span> <span class="link-title">Dashboard</span>
            </a>
          </li> -->
          <%if(user_detail.role ==1) { %>
          <li>
            <a><span class="icon"><img src="/images/tutor.svg"></span> <span class="link-title">Tutors</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/tutors">List</a></li>
              <li><a href="/tutors/create">Add</a></li>
            </ul>
          </li>
          <% } if(user_detail.role !=3) { %>
          <li>
            <a><span class="icon"><img src="/images/student.svg"></span> <span class="link-title">Students</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/students">List</a></li>
              <li><a href="/students/create">Add</a></li>
            </ul>
          </li>
          <% } if(user_detail.role ==1) { %>
          <li>
            <a><span class="icon"><img src="/images/school.svg"></span> <span class="link-title">Schools</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/schools">List</a></li>
              <li><a href="/schools/create">Add</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/classes.svg"></span> <span class="link-title">Grades</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/grades">List</a></li>
              <li><a href="/grades/create">Add</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/categories.svg"></span> <span class="link-title">Topics</span>
              <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/topics">Main Topics</a></li>
              <li><a href="/subTopics">Sub Topics</a></li>
            </ul>
          </li>
          <% }%>
          <li>
            <a><span class="icon"><img src="/images/courses.svg"></span> <span class="link-title">Learning
                Content</span> <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/learning-content">Content List</a></li>
              <% if(user_detail.role ==1 || user_detail.role ==2) { %>
              <li><a href="/learning-content/create">Add Content</a></li>
              <% } %>
              <!-- <li><a href="/learning-content/createOld">Old Content</a></li> -->
            </ul>
          </li>
          
          <% if(user_detail.role !=3) { %>
          <li>
            <a href="javascript:void(0);">
              <span class="icon"><img src="/images/assessment.svg"></span> <span class="link-title">Assessments</span>
            </a>
          </li>
          <% } %>

          <% if(user_detail.role !=1) { %>
          <li>
            <a href="javascript:void(0);">
              <span class="icon"><img src="/images/assignment.svg"></span> <span class="link-title">Assignments</span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      
      <div class="courses-sidebar">
        <a href="/learning-content" class="back-course"><img class="mr-2" src="/images/arrow-left.svg" alt="img"> Courses List</a>
        <div class="accordion" id="lesson-accordion">
          <div class="card">

            <% let i = 0; for(lessons of learningContent) { i++ %>
              <div class="card-header collapsed slider-menu" data-type="slides" data-toggle="collapse" data-target="#lessons-<%=i%>" aria-expanded="true" data-id="<%=lessons.id%>" aria-controls="lessons-<%=i%>">
                <div class="left-heading"><img class="mr-2" src="/images/lessons.svg" alt="img"> 
                  <span style="font-size: 15px;"><%=lessons.title%></span>
                </div>
                <div class="right-icons"><img src="/images/arrowdown.svg" alt="img"></div>
              </div> 
              <div id="lessons-<%=i%>" class="collapse <%=i === 1 ? 'show' : '' %>" data-parent="#lesson-accordion">
                <div class="accordion" id="slide-accordion">
                  <div class="card-header collapsed show slider-menu" data-type="slides" data-id="<%=lessons.id%>" data-toggle="collapse" data-target="#slideAccordion"
                  aria-expanded="false" aria-controls="slideAccordion">
                    <div class="slide-heading">Information Slides</div>
                    <div class="right-icons"><img src="/images/arrowdown.svg" alt="img"></div>
                  </div> 
                  <div class="collapse show" id="slideAccordion">
                    <ul class="slide-action">
                      <% let slideIndex = 1; for(slide of lessons.slides) {  %>
                        <li class="<%=slideIndex == 1?'active':''%>">
                        <a href="#" data-slide="<%=slideIndex%>"><%=slide.title%></a>
                      </li> 
                      <% slideIndex++ } %>
                    </ul>
                  </div>
                </div>
                <div class="accordion" id="practice-accordion">
                  <div class="card-header collapsed slider-menu" data-type="practice" data-id="<%=lessons.id%>" data-toggle="collapse" data-target="#practiceAccordion"
                  aria-expanded="false" aria-controls="practiceAccordion">
                    <div class="slide-heading">Practices</div>
                    <div class="right-icons"><img src="/images/arrowdown.svg" alt="img"></div>
                  </div> 
                  <div class="collapse" id="practiceAccordion">
                    <ul class="slide-action">
                      <% let practiceIndex = 1; for(practice of lessons.practices) {  %>
                        <li class="<%=practiceIndex == 1?'active':''%>">
                        <a href="#" data-slide="<%=practiceIndex%>"><%=practice.question_title
                          %></a>
                      </li> 
                      <% practiceIndex++ } %>
                    </ul>
                  </div>
                </div>
              </div> 
            <% } %>
          </div>
        </div> 
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>