<html>

<head>
    <title>
        Online-tutor
    </title>
    <%- include('./partials/_head'); %>

        <%- style %>

</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%- include('./partials/_sidebar'); %>

                <%- include('./partials/_topNavigation'); %>

                    <%- body %>

            <!-- footer content -->
            <footer>
                <div class="text-center">
                    © 2023 <a href="javascript:void();">Pioneers Tutoring</a> All Rights Reserved.
                </div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <%- include('./partials/_footer'); %>

        <%- include('./partials/_common_js'); %>

        <%- script %>

</body>

</html>