<div class="right_col" role="main">
  <!-- page content starts-->
  <div class="row main_row">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h3 class="title-text">Add Student</h3>
      </div>
      <div class="x_content">
        <form id="createStudent" action="./store" method="post" class="form-horizontal form-label-left">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="first_name">First Name<span class="required">*</span>
                    </label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/student.svg" class="mCS_img_loaded"></span>
                      <input type="text" name="first_name" class="form-control" placeholder="Enter First Name.."
                        id="first_name">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="last_name">Last Name<span class="required">*</span>
                    </label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/student.svg" class="mCS_img_loaded"></span>
                      <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name.."
                        id="last_name">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="email">Email Address <span class="required">*</span>
                    </label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/email.svg" class="mCS_img_loaded"></span>
                      <input type="email" name="email" class="form-control" placeholder="Enter Email.." id="email">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="phone">Contact No.
                      <span class="required">*</span>
                    </label>
                    <div class="phone-group">
                      <input type="hidden" name="dial_code" id="dial_code">
                      <input type="hidden" name="iso_code" id="iso_code">
                      <input type="text" name="phone" class="form-control " id="phone">
                      <span id="error-msg" class="hide"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="gender">Gender<span class="required">*</span></label>
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text"><img src="/images/gender.svg" class="mCS_img_loaded"></span>
                      <select class="form-control select2" name="gender" id="gender">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="birth_day">Birthday</label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/date.svg" class="mCS_img_loaded"></span>
                      <input type="date" name="birth_day" class="form-control " id="birth_day">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="start_date">Start Date
                    </label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/date.svg" class="mCS_img_loaded"></span>
                      <input type="date" name="start_date" class="form-control " placeholder="Enter Start Date.."
                        id="start_date">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- <label class="col-form-label label-align" for="skill_level">Skill Level</label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/level.svg" class="mCS_img_loaded"></span>
                      <input type="text" name="skill_level" class="form-control " placeholder="Enter Skill Level.." id="skill_level">
                    </div> -->
                    <label class="col-form-label label-align" for="grade">Grade<span class="required">*</span></label>
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text"><img src="/images/level.svg" class="mCS_img_loaded"></span>
                      <select class="form-control select2" name="grade_id" id="grade_id">
                        <option value="">Select Grade</option>
                        <% for(Grade of grade){%>
                          <option value="<%=Grade.id%>">
                            <%=Grade.name%>
                          </option>
                          <%}%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="school">School<span class="required">*</span></label>
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text"><img src="/images/school.svg" class="mCS_img_loaded"></span>
                      <select class="form-control select2" name="school_id" id="school_id">
                        <option value="">Select School</option>
                        <% for(school of data) { %>
                          <option value="<%=school.id%>">
                            <%=school.name%>
                          </option>
                          <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="referrer">Referrer</label>
                    <div class="input-group">
                      <span class="input-group-text"><img src="/images/referrer.svg" class="mCS_img_loaded"></span>
                      <input type="text" name="referrer" class="form-control " placeholder="Enter Skill Level.."
                        id="referrer">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="notes">Notes </label>
                    <textarea name="note" rows="5" class="form-control" placeholder="Enter Notes.."
                      id="notes"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-labellabel-align" for="status">Status<span class="required">*</span>
                    </label>
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text"><img src="/images/status.svg" class="mCS_img_loaded"></span>
                      <select class="form-control select2" name="status" id="status">
                        <option value="1">Activate</option>
                        <option value="0">Deactivate</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group drop-file">
                <label class="col-form-label label-align" for="profile_image">Profile Image</label>
                <input type="file" name="profile_image" id="profile_image" class="form-control dropify h-auto">
              </div>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="text-right">
            <button type="submit" id="storeStudentBtn" class="btn theme-btn form-button">Save</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- page title end -->
</div>
<%- include('./script'); %>