<div class="right_col" role="main">
  <!-- page content starts -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
            <span class="shade1"><%=studentObject.total%></span>
            <h3 class="title-text mb-0">Total Students</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
            <span class="shade2"><%=studentObject.active%></span>
            <h3 class="title-text mb-0">Active Students</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
            <span class="shade3"><%=studentObject.deactive%></span>
            <h3 class="title-text mb-0">Deactive Students</h3>
        </div>
    </div>
  </div>
    <div class="card-block mb-30">
      <h3 class="title-text">Filter Students</h3>
      <ul class="filter-row">
        <li class="filter-col">
          <select class="selectlink form-control select2" id="student">
            <option value="">Select Student</option>
            <% for(student of students) { %>
              <option value="<%=student.id%>"><%=student.first_name+' '+student.last_name%></option>
            <% } %>
          </select>
        </li>
        <li class="filter-col">
          <select class="selectlink form-control select2" id="status">
            <option value="">Select Status</option>
            <option value="1">Active</option>
            <option value="0">Deactive</option>
          </select>
        </li>
        <li class="filter-col">
          <select class="selectlink form-control select2" id="grade">
            <option value="">Select Grade</option>
            <% for(grades of grade) { %>
              <option value="<%=grades.id%>"><%=grades.name%></option>
            <% } %>
          </select>
        </li>
        <li class="filter-col">
          <button class="btn theme-btn custumFilter">Filter Results</button>
        </li>
        <li class="filter-col">
          <button class="btn theme-btn reset">Reset</button>
        </li>
      </ul>
    </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h3 class="title-text">Students List</h3>
          <ul class="right-btns">
            <li><a href="./students/create" class="btn theme-btn" rel="tooltip" data-placement="top"
                title="Add">+ Add Student</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <table id="StudentTable" class="table table-bordered table-sm">
                  <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Contact No.</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page content end -->
</div>
<script>

  //$.fn.poshytip = { defaults: null };
  //$.fn.editable.defaults.mode = 'inline';
  $(document).ready(function () {
    datatable();
   });
  $(".custumFilter").click(function() {
    let student = $('#student').val();
    let grade = $('#grade').val();
    let status = $('#status').val();
    datatable(student,grade,status);
  });
  $(".reset").click(function() {
    $(".select2").val(null).trigger("change");
    datatable();
  });
   function datatable(student='',grade='',status=''){
    $("#StudentTable").dataTable().fnDestroy()

      var t = $('#StudentTable').DataTable({
          "paging": true,
          "pageLength": 10,
          "processing": true,
          "serverSide": true,
          "order": [[ 1, 'asc' ]],
          'ajax': {
              'type': 'POST',
              'data': {"id":student,'grade':grade,'status':status},
              'url': '/Students/datatable'
          },
          'columns':
              [
                {
                  data: "profile_image",
                  "render": function (data, type, row) {
                    if(row.profile_image){
                      return `<a href="/ProfileImage/${row.profile_image}"
                        data-lightbox="image_${row._id}"> <img
                          src="/ProfileImage/${row.profile_image}" alt="${row.first_name}+' '+${row.last_name}" class="img-thumbnail" /></a>`;
                    }else {
                      return `<a href="/images/noImage.png"
                        data-lightbox="image_"> <img
                          src="/images/noImage.jpg" alt="default" class="img-thumbnail" /></a>`;
                    }
                    
                  }
                },
                {
                  data: "first_name",
                  "render": function (data, type, row) {
                    return row.first_name+' '+row.last_name;
                  }
                },
                {
                  data: "grade_id",
                  "render": function (data, type, row) {
                    return row.grade_id ? row.grade_id.name :'';
                  }
                },
                {
                  data: "phone",
                  "render": function (data, type, row) {
                    return row.phone ? '+'+row.dial_code+' '+row.phone :'';
                  }
                },
                  { 'data': 'email', "defaultContent": "", 'name': 'email' },
                  {
                    data: "status",
                    "render": function (data, type, row) {
                      return ` <label class="checkbox-inline">
                            <input type="checkbox" name="status" class="record-status" data-toggle="toggle"
                              data-on="Active" data-off="Deactive" data-onstyle="info" data-offstyle="danger"
                              data-url="/students/update-status" data-uid="${row._id}" id="toggle-trigger" ${row.status? 'checked' : ''} >
                          </label>`;
                    }
                  },
                  {
                    data: "",
                    "render": function (data, type, row) {
                      console.log(row);
                      return `<div class="d-flex align-items-center">
                            <a class="" href="/students/edit/${row._id}" data-toggle="tooltip"
                            rel="tooltip" data-placement="top" title="Edit"><img src="/images/edit.svg" alt="icon"></a>

                            <a href="javascript:void(0)" class="ml-2"
                                onclick="confirmBeforeDeletion('/students/destroy/${row._id}')"><img src="/images/trash.svg" alt="icon" data-toggle="tooltip" rel="tooltip"
                                data-placement="top" title="Delete"></a>
                            </div>`;
                    }
                  }

              ],
            'columnDefs': [ {
              'targets': [0,6], /* column index */
              'orderable': false, /* true or false */
            }],
            
      });
   }

  $(".select2").select2({
    allowClear: false,
  });
</script>