<div class="right_col" role="main">
  <!-- page content starts -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="stcard-box">
        <span class="shade1">
          <%=studentObject.total%>
        </span>
        <h3 class="title-text mb-0">Total Students</h3>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="stcard-box">
        <span class="shade2">
          <%=studentObject.active%>
        </span>
        <h3 class="title-text mb-0">Active Students</h3>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="stcard-box">
        <span class="shade3">
          <%=studentObject.deactive%>
        </span>
        <h3 class="title-text mb-0">Deactive Students</h3>
      </div>
    </div>
  </div>
  <div class="card-block mb-30">
    <h3 class="title-text">Filter Students</h3>
    <ul class="filter-row">
      <li class="filter-col">
        <select class="selectlink form-control select2" id="student">
          <option value="">Select Student</option>
          <% for(student of students) { %>
            <option value="<%=student.id%>">
              <%=student.first_name+' '+student.last_name%></option>
            <% } %>
          </select>
        </li>
        <li class="filter-col">
          <select class="selectlink form-control select2" id="status">
            <option value="">Select Status</option>
            <option value="1">Active</option>
            <option value="0">Deactive</option>
          </select>
        </li>
        <li class="filter-col">
          <select class="selectlink form-control select2" id="grade">
            <option value="">Select Grade</option>
            <% for(grades of grade) { %>
              <option value="<%=grades.id%>"><%=grades.name%></option>
            <% } %>
          </select>
        </li>
        <li class="filter-col">
          <button class="btn theme-btn filter">Filter</button>
          <button class="btn theme-btn reset">Reset</button>
        </li>
      </ul>
    </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h3 class="title-text">Students List</h3>
          <ul class="right-btns">
            <li><a href="./students/create" class="btn theme-btn" rel="tooltip" data-placement="top"
                title="Add">+ Add Student</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <table id="studentTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Contact No.</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page content end -->
</div>

<%- include('./script'); %>