<div class="right_col" role="main">
  <div class="card-block mb-30">
    <h3 class="title-text">Filter Courses</h3>
    <ul class="filter-row">
      <li class="filter-col">
        <select class="selectlink form-control">
          <option value="">Select tutor</option>
          <option value="1">Andrew</option>
          <option value="2">Bella</option>
          <option value="3">Angel</option>
          <option value="4">Tie</option>
          <option value="5">Edword</option>
        </select>
      </li>
      <li class="filter-col">
        <select class="selectlink form-control">
          <option value="">Select Status</option>
          <option value="1">Active</option>
          <option value="2">Deactive</option>
        </select>
      </li>
      <li class="filter-col">
        <select class="selectlink form-control">
          <option value="">Select Grade</option>
          <option value="1">English</option>
          <option value="2">Class 2nd</option>
          <option value="3">Class 3rd</option>
          <option value="4">Class 4th</option>
          <option value="5">Class 5th</option>
        </select>
      </li>
      <li class="filter-col">
        <button class="btn theme-btn">Filter Results</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h3 class="title-text">Tutor List</h3>
          <ul class="right-btns">
            <li> <a href="./tutors/create" class="btn theme-btn" rel="tooltip" data-placement="top"
                title="Add">+ Add Tutor</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="card-box table-responsive">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
              cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Subject</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% let i=0; for(tutor of data) { %>
                  <tr>
                    <td>
                      <%=++i%>
                    </td>
                    <td>
                      <div class="avatar avatar-blue mr-3">
                        <% if (tutor.profile_image !='' &&
                          fs.existsSync("assets/ProfileImage/"+tutor.profile_image)) { %>
                          <img src="/ProfileImage/<%=tutor.profile_image%>" alt="<%=tutor.first_name+' '+tutor.last_name%>" />
                          <% } else{ %>
                            <img src="/images/noImage.jpg" alt="no-image" />
                            <% } %>

                      </div>
                    </td>
                    <td>
                      <%= tutor.title %>
                      <%=tutor.first_name+' '+tutor.last_name %>
                    </td>
                    <td>
                      <%=tutor.email %>
                    </td>
                    <td>
                      <% for(sub of subject) { 
                        if (tutor.subject_ids.includes(sub.id)) { %>
                        <a href="#" class="badge badge-info"><%=sub.name%></a>
                      <% } } %>
                    </td>
                    <td>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="status" class="record-status" data-toggle="toggle"
                          data-on="Active" data-off="Deactive" data-onstyle="info" data-offstyle="danger"
                          data-url="/tutors/update-status" data-uid="<%=tutor.id%>" id="toggle-trigger"   <%=tutor.status==1 ? 'checked' : '' %>>
                      </label>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a class="" href="/tutors/edit/<%=tutor.id%>" data-toggle="tooltip"
                          rel="tooltip" data-placement="top" title="Edit">
                        <img src="/images/edit.svg" alt="icon">
                        </a>

                        <a class="ml-2" data-toggle="tooltip" rel="tooltip" data-placement="top"
                          title="Delete" style="cursor: pointer;">
                          <img src="/images/trash.svg" alt="icon" data-toggle="confirmation" data-singleton="true"
                          data-title="Are You Sure Want To Delete?" href="/tutors/destroy/<%=tutor.id%>">
                        </a>
                      </div>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- page content end -->
</div>