<div class="right_col" role="main">
  <!-- page content starts-->
  <div class="row main_row">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h3 class="title-text">Edit Sub Topic</h3>
      </div>
      <div class="x_content">
        <form id="updateSubTopic" action="/subTopics/update" method="post"
          class="form-horizontal form-label-left">
          <input type="hidden" name="sub_topic_Id" value="<%=data.id %>">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="topic_id">Main Topic<span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/categories.svg" class="mCS_img_loaded"></span>
                  <select class="select2_single form-control" name="topic_id" id="topic_id" tabindex="-1" single>
                    <option value="">Select Main Topic</option>
                    <% let i=0; for(topic of allTopic) { %>
                      <option value="<%=topic.id%>" <%=data.topic_id==topic.id ? 'selected' : '' %>>
                        <%=topic.name%>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="name">Sub Topic Name<span class="required">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/subcategory.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="name" class="form-control" placeholder="Enter Sub Topic Name.."
                    required="required" id="name" value="<%=data.name %>">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="note">Note</span>
                </label>
                <textarea name="note" rows="5" class="form-control" placeholder="Enter Note.."
                  id="note"><%=data.note %></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="status">Status<span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/status.svg" class="mCS_img_loaded"></span>
                  <select class="form-control" name="status" id="status" tabindex="-1" single>
                    <option value="1" <%=data.status=='1' ? 'selected' : '' %>>Active</option>
                    <option value="0" <%=data.status=='0' ? 'selected' : '' %>>Deactive</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="text-right">
            <button type="submit" id="updateSubTopicBtn" class="btn theme-btn form-button">Update</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- page title end -->
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $("#topic_id").select2({
      placeholder: "Select Main Topic",
      allowClear: false,
    });

    $("#status").select2({
      allowClear: false,
    });
  });

  $("#updateSubTopic").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var formData = $('#updateSubTopic').serialize();
    var url = $('#updateSubTopic').attr('action');
    $("#updateSubTopicBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#updateSubTopicBtn").prop('disabled', false);
      },
    })
  });
</script>