<div class="right_col" role="main">
  <!-- page content starts -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
            <span class="shade1"><%=SubTopicObject.total%></span>
            <h3 class="title-text mb-0">Total Sub Topic</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
            <span class="shade2"><%=SubTopicObject.active%></span>
            <h3 class="title-text mb-0">Active Sub Topic</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
            <span class="shade3"><%=SubTopicObject.deactive%></span>
            <h3 class="title-text mb-0">Deactive Sub Topic</h3>
        </div>
    </div>
  </div>
  <div class="card-block mb-30">
    <h3 class="title-text">Filter Sub Topic</h3>
    <ul class="filter-row">
      <li class="filter-col">
        <select class="form-control" id="mainTopic" tabindex="-1" single>
          <option value="">Select Main Topic</option>
          <% for(topic of Topics) { %>
            <option value="<%=topic.id%>">
              <%=topic.name%>
            </option>
            <% } %>
        </select>
      </li>
      <li class="filter-col">
        <select class="form-control" id="subTopic" tabindex="-1" single>
          <option value="">Select Sub Topic</option>
          <% for(subTopic of data) { %>
            <option value="<%=subTopic.id%>">
              <%=subTopic.name%>
            </option>
            <% } %>
        </select>
      </li>
      <li class="filter-col">
        <select class="form-control" id="subTopic-status" tabindex="-1" single>
          <option value="">Select Status</option>
          <option value="1">Active</option>
          <option value="0">Deactive</option>
        </select>
      </li>
      <li class="filter-col">
        <button class="btn theme-btn">Filter Results</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h3 class="title-text">Sub Topics List</h3>
          <ul class="right-btns">
            <li> <a href="./subTopics/create" class="btn theme-btn" data-toggle="tooltip" rel="tooltip"
                data-placement="top" title="Add SubTopic">+
                Add Sub Topic</a>
            </li>
          </ul>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                  cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Name</th>
                      <th>Main Topic</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let i=0; for(subTopic of data) { %>
                      <tr>
                        <td>
                          <%=++i%>
                        </td>
                        <td class="text-capitalize">
                          <%=subTopic.name%>
                        </td>
                        <td>
                          <%=subTopic.topic_id.name%>
                        </td>
                        <td>
                          <label class="checkbox-inline">
                            <input type="checkbox" name="status" class="record-status" data-toggle="toggle"
                              data-on="Active" data-off="Deactive" data-onstyle="info" data-offstyle="danger"
                              data-url="/subTopics/update-status" data-uid="<%=subTopic.id%>" id="toggle-trigger"
                              <%=subTopic.status==1 ? 'checked' : '' %>>
                          </label>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <a class="" href="/subTopics/edit/<%=subTopic.id%>" data-toggle="tooltip"
                              rel="tooltip" data-placement="top" title="Edit"><img src="/images/edit.svg"
                                alt="icon"></a>

                            <a href="javascript:void(0)" class="ml-2"
                              onclick="confirmBeforeDeletion('/subTopics/destroy/<%=subTopic.id%>')"> <img
                                src="/images/trash.svg" alt="icon" data-toggle="tooltip" rel="tooltip"
                                data-placement="top" title="Delete"></a>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page content end -->
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#mainTopic").select2({
      placeholder: "Select Main Topic",
      allowClear: false,
    });
    $("#subTopic").select2({
      placeholder: "Select Sub Topic",
      allowClear: false,
    });
    $("#subTopic-status").select2({
      placeholder: "Select Status",
      allowClear: false,
    });
  });
</script>