<div class="right_col" role="main">
  <!-- page content starts-->
  <div class="row main_row">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h3 class="title-text">Add Assessment</h3>
      </div>
      <div class="x_content">
        <form id="" action="./store" method="post" class="form-horizontal form-label-left">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="assessmentname">Assessment Name <span
                    class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/assessment.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="name" class="form-control" id="assessment_name"
                    placeholder="Assessment Name">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="class_select">Grade <span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/classes.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2" name="grade_id" id="grade" tabindex="-1" single>
                    <option value="">Select Grade</option>
                    <% for(grade of grades) { %>
                      <option value="<%=grade.id%>">
                        <%=grade.name%>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="teacher_select">Tutor <span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/student.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2" name="tutor_id" id="tutor" tabindex="-1" single>
                    <option value="">Select Tutor</option>
                    <% for(tutor of tutors) { %>
                      <option value="<%=tutor.id%>">
                        <%=tutor.first_name+' '+tutor.last_name %>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="date">Date <span class="required">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/date.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="date" class="form-control" placeholder="" id="datepicker">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="time">Start Time <span class="required">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/time.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="start_time" class="form-control timePicker" placeholder="Start Time">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="time">End Time <span class="required">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/time.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="end_time" class="form-control timePicker" placeholder="End Time">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-4">
              <h3 class="title-text fn-16">Select Content</h3>
            </div>  
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="class_select">Grade <span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/classes.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2 filter-content" name="sc_grade_id" id="sc_grade" tabindex="-1" single>
                    <option value="">Select Grade</option>
                    <% for(grade of grades) { %>
                      <option value="<%=grade.id%>">
                        <%=grade.name%>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>
            </div>       
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="class_select">Topic <span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/classes.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2 filter-content" name="sc_topic_id" id="sc_topic" tabindex="-1" single>
                    <option value="">Select Topic</option>
                    <% for(topic of topics) { %>
                      <option value="<%=topic.id%>">
                        <%=topic.name%>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>
            </div>      
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="class_select">Sub Topic <span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/classes.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2 filter-content" name="sc_sub_topic_id" id="sc_sub_topic" tabindex="-1" single>
                    <option value="">Select Sub Topic</option>
                  </select>
                </div>
              </div>
            </div>  
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="select_learning">Learning Content <span
                    class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/courses.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2" name="learning_content" id="learning_content" tabindex="-1" single>
                    <option value="">Select Learning Content</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="select_lesson">Lesson <span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/courses.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2" name="lesson_ids" data-placeholder="Select Lessons"
                    id="lessons" tabindex="-1" multiple>
                    <option value="">Select Lessons</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="assessment_type">Assessment Type <span
                    class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/courses.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2" name="assessment_type" id="assessment_type" tabindex="-1" multiple>
                    <option value="1">Information Slides</option>
                    <option value="2">Practices</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label label-align" for="assessment_option">Assessments <span
                    class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/courses.svg" class="mCS_img_loaded"></span>
                  <select class="form-control select2" name="assessments" data-placeholder="Select Assessments"
                    id="assessments" tabindex="-1" multiple>
                    <optgroup label="Information Slides">
                      <option value="1">Slides 1</option>
                      <option value="2">Slides 2</option>
                    </optgroup>
                    <optgroup label="Practices">
                      <option value="1">Practices 1</option>
                      <option value="2">Practices 2</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="d-block">&nbsp;</span>
              </label>
              <button type="button" class="content-submit theme-btn">Add Content</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mt-4">
              <h3 class="title-text fn-16">Selected Content</h3>
            </div>
            <div class="col-sm-12">
              <ul class="selectedcontent sortable">
                <li>
                  <div class="iconleft">
                    <img src="/images/lesson.svg" alt="img">
                  </div>
                  <div class="content-detail-block">
                    <h4 class="assessment-title">Work, Energy And Power</h4>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Grade 1</li>
                      <li class="breadcrumb-item">Topic 1</li>
                      <li class="breadcrumb-item">Sub Topic 1</li>
                      <li class="breadcrumb-item">Science</li>
                      <li class="breadcrumb-item">Lesson</li>
                    </ol>
                  </div>
                  <div class="action-right">
                    <a class="remove_content" href="javascript:void(0);">&times;</a>
                    <a class="move_content handle" href="javascript:void(0);"><i class="fa fa-arrows"></i></a>
                  </div>
                </li>
                <li>
                  <div class="iconleft">
                    <img src="/images/basic.svg" alt="img">
                  </div>
                  <div class="content-detail-block">
                    <h4 class="assessment-title">Work, Energy And Power</h4>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Grade 2</li>
                      <li class="breadcrumb-item">Topic 1</li>
                      <li class="breadcrumb-item">Sub Topic 1</li>
                      <li class="breadcrumb-item">Science</li>
                      <li class="breadcrumb-item">Lesson 1</li>
                      <li class="breadcrumb-item">Information Slides</li>
                    </ol>
                  </div>
                  <div class="action-right">
                    <a class="remove_content" href="javascript:void(0);">&times;</a>
                    <a class="move_content handle" href="javascript:void(0);"><i class="fa fa-arrows"></i></a>
                  </div>
                </li>
                <li>
                  <div class="iconleft">
                    <img src="/images/practice1.svg" alt="img">
                  </div>
                  <div class="content-detail-block">
                    <h4 class="assessment-title">Work, Energy And Power</h4>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Grade 2</li>
                      <li class="breadcrumb-item">Topic 1</li>
                      <li class="breadcrumb-item">Sub Topic 1</li>
                      <li class="breadcrumb-item">Science</li>
                      <li class="breadcrumb-item">Lesson 1</li>
                      <li class="breadcrumb-item">Practices</li>
                    </ol>
                  </div>
                  <div class="action-right">
                    <a class="remove_content" href="javascript:void(0);">&times;</a>
                    <a class="move_content handle" href="javascript:void(0);"><i class="fa fa-arrows"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="text-right">
            <button type="submit" id="assign" class="btn theme-btn">Assign</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- page title end -->
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {

    $(".select2").select2({
      allowClear: false,
    });

    $("#datepicker").daterangepicker({ minDate: new Date(), locale: { format: ' DD MMM YYYY', } });
    $('.timePicker').datetimepicker({
      allowInputToggle: true, keepOpen: true, useCurrent: false,
      format: "hh:mm A"
    }).on('dp.show', function () { });
  }); /** * loadSubTopic */ function
    loadSubTopic(topicId) {
      $('#sc_sub_topic').empty(); $.ajax({
        type: "POST",
        url: '/learning-content/renderSubtopic', data: { id: topicId, }, success: function (response) {
          if (response.length > 0) {
            var newOption = new Option("Select Sub Topic", "", false, false);
            $('#sc_sub_topic').append(newOption).trigger('change');
            for (res of response) {
              newOption = new Option(res.name, res._id, false, false);
              $('#sc_sub_topic').append(newOption).trigger('change');
            }
          } else {
            $('#sc_sub_topic').html('No results found.').trigger('change');
          }
        },
      });
  }

  $('#sc_topic').change(function () {
    let topicId = $(this).val();
    loadSubTopic(topicId);
  });

  function loadLearningContent() {
    let grade = $('#sc_grade').val();
    let topic = $('#sc_topic').val();
    let subTopic = $('#sc_sub_topic').val();

    $('#learning_content').empty();
    if (grade != '' || topic != '' || subTopic != '') {
      $.ajax({
        type: "POST",
        url: '/learning-content/render-contents',
        data: {
          grade_id: grade,
          topic_id: topic,
          sub_topic_id: subTopic,
        },
        success: function (response) {
          if (response.length > 0) {
            $('#learning_content').empty();
            var newOption = new Option("Select Learning Content", "", false, false);
            $('#learning_content').append(newOption).trigger('change');
            for (res of response) {
              newOption = new Option(res.title, res._id, false, false);
              $('#learning_content').append(newOption).trigger('change');
            }
          } else {
            $('#learning_content').html('No results found.').trigger('change');
          }
        },
      });
    }
  }

  $(".filter-content").change(function () {
    loadLearningContent();
  });


  $("#learning_content").change(function () {
    let content = $(this).val();
    $('#lessons').empty();
    if (content != '') {
      $.ajax({
        type: "POST",
        url: '/learning-content/get-content-detail',
        data: {
          content_id: content,
        },
        success: function (response) {
          if (response) {
            $('#lessons').empty();
            var newOption = new Option("Select Learning Content", "", false, false);
            $('#lessons').append(newOption).trigger('change');
            for (lesson of response.lesson_ids) {
              newOption = new Option(lesson.title, lesson._id, false, false);
              $('#lessons').append(newOption).trigger('change');
            }
          } else {
            $('#lessons').html('No results found.').trigger('change');
          }
        },
      });
    }
  });


  $("#assessment_type, #lessons").change(function () {
    let contentId = $('#learning_content').val();
    let lessonIds = $('#lessons').val();
    let assessmentType = $('#assessment_type').val();
    console.log(lessonIds);
    console.log(assessmentType);

    if (contentId != '' && lessonIds != null || assessmentType != null) {
      $.ajax({
        type: "POST",
        url: '/learning-content/get-lesson-detail',
        data: {
          content_id :contentId,
          lesson_ids: lessonIds,
          assessment_type: assessmentType,
        },
        success: function (response) {
          console.log(response);
        },
      });
    }
  });




</script>