<div class="right_col" role="main">
  <!-- page content starts-->
  <div class="row main_row">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h3 class="title-text">Edit School</h3>
      </div>
      <div class="x_content">
        <form id="updateSchool" action="/schools/update" method="post" class="form-horizontal form-label-left">
          <input type="hidden" name="school_id" value="<%=data.id %>">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="name">School Name<span class="required">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/school.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="name" class="form-control" placeholder="Enter Name.." id="name"
                    value="<%=data.name %>">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="phone">Contact No.
                </label>
                <div class="phone-group">
                  <input type="hidden" name="dial_code" id="dial_code" value="<%=data.dial_code%>">
                  <input type="hidden" name="iso_code" id="iso_code" value="<%=data.iso_code%>">
                  <input type="text" name="phone" value="<%=data.phone %>" class="form-control" id="phone">
                  <span id="error-msg" class="hide"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="email">Email Address
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/email.svg" class="mCS_img_loaded"></span>
                  <input type="email" name="email" class="form-control" placeholder="Enter Email.." id="email"
                    value="<%=data.email %>">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="status">Status<span class="required">*</span>
                </label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text"><img src="/images/status.svg" class="mCS_img_loaded"></span>
                  <select class="form-control" name="status" id="status" tabindex="-1" single>
                    <option value="1" <%=data.status=='1' ? 'selected' : '' %>>Active</option>
                    <option value="0" <%=data.status=='0' ? 'selected' : '' %>>Deactive</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-labellabel-align" for="address">School Address
                </label>
                <textarea name="address" rows="5" class="form-control" placeholder="Enter Address.."
                  id="address"><%=data.address %></textarea>
              </div>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="text-right">
            <button type="submit" id="updateSchoolBtn" class="btn theme-btn form-button">Update</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- page title end -->
</div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    $("#status").select2({
      allowClear: false,
    });
  });


  /**
   * updateSchool
   */
  $("#updateSchool").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#updateSchool').serialize();
    console.log(formData);
    var url = $('#updateSchool').attr('action');
    $("#updateSchoolBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span><br>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#updateSchoolBtn").prop('disabled', false);
      },
    })
  });

  /**
  *  phone number validate start intlTelInput
  */
  var input = document.querySelector("#phone"),
    errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"],
    result = document.querySelector("#error-msg");

  window.addEventListener("load", function () {
    errorMsg = document.querySelector("#error-msg");

    function getIp(callback) {
      fetch('https://ipinfo.io', {
        headers: {
          'Accept': 'application/json'
        }
      })
        .then((resp) => resp.json())
        .catch(() => {
          return {
            country: '',
          };
        })
        .then((resp) => callback(resp.country));
    }
    var iso_code = $("#iso_code").val();
    iso_code = iso_code ? iso_code : 'in';
    var iti = window.intlTelInput(input, {
      initialCountry: iso_code,
      separateDialCode: true,
      formatOnDisplay: false
    });


    input.addEventListener('keyup', function () {
      reset();
      $("#updateSchoolBtn").prop('disabled', false);
      if (input.value.trim()) {
        if (iti.isValidNumber()) {
          $("#updateSchoolBtn").prop('disabled', false);
          $(input).addClass('is-valid');

        } else {
          $("#updateSchoolBtn").prop('disabled', true);
          $(input).addClass('is-invalid');
          var errorCode = iti.getValidationError();
          errorMsg.innerHTML = errorMap[errorCode];
          $(errorMsg).show();
        }
      }
    });
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset);

    var reset = function () {
      $(input).removeClass('is-invalid');
      errorMsg.innerHTML = "";
      $(errorMsg).hide();
    };
    input.addEventListener('keyup', function (e) {
      e.preventDefault();
      var num = iti.getNumber(),
        valid = iti.isValidNumber();
      //result.textContent = "Number: " + num + ", valid: " + valid;
    }, false);

    input.addEventListener("focus", function () {
      result.textContent = "";
    }, false);

    $(input).on("focusout", function (e, countryData) {
      var intlNumber = iti.getNumber();
      var countryData = iti.getSelectedCountryData();
      console.log(countryData);
      var dialCode = countryData.dialCode;
      var iso2 = countryData.iso2;
      $('#dial_code').val(dialCode); // update country code
      $('#iso_code').val(iso2); // update iso code
    });
  });

</script>