<div class="right_col" role="main">
  <!-- page content starts -->
  <div class="card-block mb-30">
    <h3 class="title-text">Filter School</h3>
    <ul class="filter-row">
      <li class="filter-col">
        <select class="form-control" id="school-name" tabindex="-1" single>
          <option value="">Select School</option>
          <% for(school of data) { %>
            <option value="<%=school.id%>">
              <%=school.name%>
            </option>
            <% } %>
        </select>
      </li>
      <li class="filter-col">
        <select class="form-control" id="school-status" tabindex="-1" single>
          <option value="">Select Status</option>
          <option value="1">Active</option>
          <option value="0">Deactive</option>
        </select>
      </li>
      <li class="filter-col">
        <button class="btn theme-btn">Filter Results</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h3 class="title-text">Schools List</h3>
          <ul class="right-btns">
            <li> <a href="./schools/create" class="btn theme-btn" data-toggle="tooltip" rel="tooltip"
                data-placement="top" title="Add School">+ Add School</a>
            </li>
          </ul>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                  cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>School Name</th>
                      <th>Email</th>
                      <th>Contact No</th>
                      <th>Address</th>
                      <th>Status</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let i=0; for(school of data) { %>
                      <tr>
                        <td>
                          <%=++i%>
                        </td>
                        <td>
                          <%=school.name%>
                        </td>
                        <td>
                          <%=school.email%>
                        </td>
                        <td>
                          <%=school.phone ? school.dial_code+' '+school.phone: '' %>
                        </td>
                        <td>
                          <%=school.address%>
                        </td>
                        <td>
                          <label class="checkbox-inline">
                            <input type="checkbox" name="status" class="record-status" data-toggle="toggle"
                              data-on="Active" data-off="Deactive" data-onstyle="info" data-offstyle="danger"
                              data-url="/schools/update-status" data-uid="<%=school.id%>" id="toggle-trigger"
                              <%=school.status==1 ? ' checked' : '' %>>
                            </label>
                        </td>
                        <td>
                          <%=school.created_at.toDateString()%>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <a class="" href="/schools/edit/<%=school.id%>" data-toggle="tooltip" rel="tooltip"
                              data-placement="top" title="Edit"><img src="/images/edit.svg" alt="icon"></a>

                            <a href="javascript:void(0)" class="ml-2"
                              onclick="confirmBeforeDeletion('/schools/destroy/<%=school.id%>')"><img
                                src="/images/trash.svg" alt="icon" data-toggle="tooltip" rel="tooltip"
                                data-placement="top" title="Delete"></a>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page content end -->
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $("#school-name").select2({
      placeholder: "Select School",
      allowClear: false,
    });
    $("#school-status").select2({
      placeholder: "Select Status",
      allowClear: false,
    });
  });
</script>