<div class="right_col" role="main">
  <div class="form-wizard">
    <form id="createContent" action="./store" class="form-design" method="post" enctype="multipart/form-data"
      autocomplete="off">
      <div class="form-wizard-header">
        <ul class="list-unstyled form-wizard-steps clearfix">
          <li class="active">
            <span class="step_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path
                  d="M31.1663 14.1667V21.25C31.1663 28.3334 28.333 31.1667 21.2497 31.1667H12.7497C5.66634 31.1667 2.83301 28.3334 2.83301 21.25V12.75C2.83301 5.66671 5.66634 2.83337 12.7497 2.83337H19.833"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M31.1663 14.1667H25.4997C21.2497 14.1667 19.833 12.75 19.833 8.50004V2.83337L31.1663 14.1667Z"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path opacity="0.4" d="M9.91699 18.4166H18.417M9.91699 24.0833H15.5837" stroke="#4A4674"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <span class="step_descr">Basic Information</span>
          </li>
          <li>
            <span class="step_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path
                  d="M31.1663 6.61862V23.7178C31.1663 25.0778 30.0613 26.3528 28.7013 26.5228L28.2338 26.5795C25.1455 26.9903 20.3855 28.5628 17.6655 30.0645C17.2972 30.277 16.688 30.277 16.3055 30.0645L16.2488 30.0361C13.5288 28.5486 8.78301 26.9903 5.70884 26.5795L5.29801 26.5228C3.93801 26.3528 2.83301 25.0778 2.83301 23.7178V6.60446C2.83301 4.91862 4.20717 3.64362 5.89301 3.78529C8.86801 4.02612 13.373 5.52779 15.8947 7.10029L16.2488 7.31279C16.6597 7.56779 17.3397 7.56779 17.7505 7.31279L17.9913 7.15696C18.8838 6.60446 20.0172 6.05196 21.2497 5.55612C23.1055 4.81946 25.1738 4.22446 26.9163 3.94112C27.2988 3.87029 27.6672 3.82779 28.0072 3.79946H28.0922C29.778 3.65779 31.1663 4.91862 31.1663 6.61862Z"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path opacity="0.4"
                  d="M17 7.77461V29.0246M26.9167 3.9397V11.3347L24.0833 9.45053L21.25 11.3347V5.5547C23.1058 4.81803 25.1742 4.22303 26.9167 3.9397V3.9397Z"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <span class="step_descr">Add Content</span>
          </li>
          <li>
            <span class="step_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="22" viewBox="0 0 31 22" fill="none">
                <path d="M30 1L10.0625 21L1 11.9091" stroke="#4A4674" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
            <span class="step_descr">Complete</span>
          </li>
        </ul>
      </div>

      <!-- Step1-->
      <fieldset class="wizard-fieldset show">

        <div class="d-flex align-items-center justify-content-between mb-30">
          <h3 class="title-text mb-0">Basic Information</h3>
          <a class="back-link" href="/learning-content"><span class="fa fa-chevron-left mr-2"></span>Back to list</a>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label" for="title">Title<span class="required">*</span>
              </label>
              <input type="text" name="title" class="form-control wizard-required"
                value="Unit 1 - Biodiversity and the Interconnectedness of Life" placeholder="Enter Title" id="title">
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label" for="grade">Grade<span class="required">*</span>
              </label>
              <select class="form-control wizard-required" name="grade_id" id="grades" tabindex="-1" single>
                <option value="">Select Grade</option>
                <% for(grade of grades) { %>
                  <option value="<%=grade.id%>">
                    <%=grade.name%>
                  </option>
                  <% } %>
              </select>
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label" for="topic">Topic<span class="required">*</span>
              </label>
              <select class="form-control wizard-required" name="topic_id" id="topics" tabindex="-1" single>
                <option value="">Select Topic</option>
                <% for(topic of topics) { %>
                  <option value="<%=topic.id%>">
                    <%=topic.name%>
                  </option>
                  <% } %>
              </select>
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label" for="topic">Sub Topic<span class="required">*</span>
              </label>
              <select class="form-control wizard-required" name="sub_topic_id" id="subTopics" tabindex="-1" single>

              </select>
              <div class="wizard-form-error"></div>
            </div>
          </div>


          <div class="col-sm-12">
            <div class="form-group">
              <label class="form-label" for="shortDescription">Short Description<span class="required">*</span>
              </label>
              <textarea name="short_description" rows="5" class="form-control wizard-required"
                placeholder="Enter short description.." id="shortDescription"></textarea>
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="drop-file">
              <label class="form-label">Upload Thumbnail</label>
              <input type="file" name="thumbnail" id="thumbnail" class="form-control wizard-required h-auto"
                data-allowed-file-extensions="jpg png jpeg" data-max-file-size-preview="5M">
              <div class="wizard-form-error"></div>
            </div>
          </div>

        </div>

        <div class="form-group mb-0 mt-4 clearfix">
          <a href="javascript:void(0);" class="form-wizard-next-btn theme-btn float-right">Next</a>
        </div>
      </fieldset>
      <!-- Step1-->

      <!-- Step2-->
      <fieldset class="wizard-fieldset">
        <div class="repeater">
          <div class="add-more-section d-flex align-items-center justify-content-between">
            <h3 class="title-text mb-0">Add Lesson</h3>
            <a class="theme-btn add-section" href="javascript:void(0);" data-repeater-create data-toggle="tooltip"
              rel="tooltip" data-placement="top" title="Add Lesson"><img src="/images/addcircle.svg" alt="img"></a>
          </div>

          <div class="parent-div" data-repeater-list="outer-list">
            <div class="main-wizards-div" data-repeater-item>
              <div class="content-section mt-4">
                <div class="lesson accordion" id="lesson-accordion">
                  <div class="card">
                    <div class="card-header" role="tab" id="heading-1">
                      <div class="left-heading">
                        <img class="mr-2" src="/images/lessons.svg" alt="img">
                        <input class="editable-heading" name="lesson_name" type="text" value="New Lesson" placeholder="New Lesson">
                      </div>
                      <div class="right-icons">
                        <a href="javascript:void(0);" class="lesson-preview" data-toggle="tooltip" rel="tooltip"
                          data-placement="top" title="Preview"><img class="mr-1" src="/images/eye.svg" alt="img"></a>
                        <a href="javascript:void(0);" class="lesson-edit">
                          <img class="mr-1" src="/images/edit.svg" alt="img" data-toggle="tooltip" rel="tooltip"
                            data-placement="top" title="Edit"></a>
                        <a href="javascript:void(0);" class="lesson-delete" data-repeater-delete><img class="mr-1"
                            src="/images/trash.svg" alt="img" data-toggle="tooltip" rel="tooltip" data-placement="top"
                            title="Delete"></a>
                        <a href="javascript:void(0);" class="lesson-expand" data-toggle="collapse"
                          data-target="#lesson-0" aria-expanded="true" aria-controls="lesson-0">
                          <img src="/images/arrowdown.svg" alt="img">
                        </a>
                      </div>
                    </div>

                    <div id="lesson-0" class="lesson-container collapse show" data-parent="#lesson-accordion">
                      <div class="card-body">
                        <!--slides start-->
                        <div class="inner-repeater slide accordion" id="slide-accordion">
                          <div class="chp-add-section">
                            <div class="chp-heading" role="tab" id="heading-1-1">
                              <div class="chp-title text-truncate">
                                <img class="mr-1" src="/images/slides.svg" alt="img">
                                Information Slides
                              </div>
                              <div class="right-icons">
                                <a href="javascript:void(0);" class="informationSlide-add" data-repeater-create
                                  data-toggle="tooltip" rel="tooltip" data-placement="top" title="Add Slide"><img
                                    class="mr-2" src="/images/addcircle.svg" alt="img"></a>
                                <a href="javascript:void(0);" class="informationSlide-preview" data-toggle="tooltip"
                                  rel="tooltip" data-placement="top" title="Preview All"><img class="mr-2"
                                    src="/images/eye.svg" alt="img"></a>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#slideAccordion"
                                  aria-expanded="false" aria-controls="slideAccordion">
                                  <img src="/images/arrowdown.svg" alt="img">
                                </a>
                              </div>
                            </div>

                            <div class="collapse" id="slideAccordion">
                              <div class="card-body">
                                <div id="wizard" data-repeater-list="inner-list" data-parent-index="0">
                                  <div class="wizards-div" data-repeater-item>
                                    <div class="chp-add-section">
                                      <div class="chp-heading">
                                        <div class="chp-title text-truncate">
                                          <img class="mr-1" src="/images/basic.svg" alt="img">
                                          <span class="heading-title"> Introduction: Biodiversity 1</span>
                                        </div>
                                        <div class="right-icons">
                                          <a href="javascript:void(0);" class="slide-form-preview" data-toggle="tooltip"
                                            rel="tooltip" data-placement="top" title="Preview"><img class="mr-2"
                                              src="/images/eye.svg" alt="img"></a>
                                          <a href="javascript:void(0);" class="slide-form-expand" data-toggle="collapse"
                                            data-target="#slide-0" aria-expanded="false" aria-controls="slide-0"><img
                                              class="mr-2" src="/images/edit.svg" alt="img" data-toggle="tooltip"
                                              rel="tooltip" data-placement="top" title="Edit">
                                          </a>
                                          <a href="javascript:void(0);" class="slide-form-delete"
                                            data-repeater-delete><img src="/images/trash.svg" alt="img"
                                              data-toggle="tooltip" rel="tooltip" data-placement="top"
                                              title="Delete"></a>
                                        </div>
                                      </div>

                                      <div class="collapse slide-container" id="slide-0">
                                        <div class="card-body">
                                          <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h3 class="title-text mb-0">Lecture Details</h3>
                                            <a data-toggle="collapse" href="#slide-0" aria-expanded="false"
                                            class="close-slide"><img src="/images/close.svg" alt="img"></a>
                                          </div>
                                          <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                                <label class="form-label" for="title">Title<span
                                                    class="required">*</span>
                                                </label>
                                                <input type="text" name="slide_title" class=" form-control"
                                                  placeholder="Enter title.." id="title">
                                              </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                              <div class="form-group">
                                                <label class="form-label" for="duration">Duration<span
                                                    class="required">*</span>
                                                </label>
                                                <input type="time" name="slide_duration" class="form-control"
                                                  placeholder="Enter duration.." id="duration">
                                              </div>
                                            </div>
                                           
                                          </div>
                                          <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                              <a class="nav-link active" id="pills-basic-tab" data-toggle="pill"
                                                href="#pills-basic-0" role="tab" aria-controls="pills-basic-0"
                                                aria-selected="true"><img class="mr-1" src="/images/basic.svg"
                                                  alt="img">
                                                Basic</a>
                                            </li>
                                            <li class="nav-item tab_btn">
                                              <a class="nav-link" id="pills-video-tab" data-toggle="pill"
                                                href="#pills-video-0" role="tab" aria-controls="pills-video-0"
                                                aria-selected="false"><img class="mr-1" src="/images/video1.svg"
                                                  alt="img"> Video</a>
                                            </li>
                                            <li class="nav-item tab_btn">
                                              <a class="nav-link" id="pills-attachments-tab" data-toggle="pill"
                                                href="#pills-attachments-0" role="tab"
                                                aria-controls="pills-attachments-0" aria-selected="false"><img
                                                  class="mr-1" src="/images/link.svg" alt="img">
                                                Attachments</a>
                                            </li>
                                          </ul>
                                          <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-basic-0" role="tabpanel"
                                              aria-labelledby="pills-basic-tab">
                                              <div class="row">
                                                <div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label class="form-label" for="description">Description<span
                                                        class="required">*</span>
                                                    </label>
                                                    <textarea name="slide_description" rows="5" class="form-control editer"
                                                      placeholder="Enter short description.."
                                                      id="description-0"></textarea>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-video-0" role="tabpanel"
                                              aria-labelledby="pills-video-tab">
                                              <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                  <div class="form-group">
                                                    <label class="form-label" for="video_url">Video URL<span
                                                        class="required">*</span>
                                                    </label>
                                                    <input type="text" name="slide_video_url" class="form-control"
                                                      placeholder="Enter videoUrl.." id="video_url">
                                                  </div>
                                                </div>
                                                <!-- <div class="col-sm-12 col-md-6">
                                                  <div class="form-group">
                                                    <label class="form-label" for="duration">Duration<span
                                                        class="required">*</span>
                                                    </label>
                                                    <input type="time" name="duration" class="form-control"
                                                      placeholder="Enter duration.." id="duration">
                                                  </div>
                                                </div> -->
                                                <div class="col-sm-12">
                                                  <div class="spacer">OR</div>
                                                </div>
                                                <div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label class="form-label" for="video">Upload Video<span
                                                        class="required">*</span>
                                                    </label>
                                                    <input type="file" name="slide_video" id="video"
                                                      class="form-control select-video h-auto"
                                                      data-allowed-file-extensions="mp4 webm"
                                                      data-max-file-size-preview="5M">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-attachments-0" role="tabpanel"
                                              aria-labelledby="pills-attachments-tab">
                                              <div class="row">
                                                <!-- <div class="col-sm-12 col-md-6">
                                                  <div class="form-group">
                                                    <label class="form-label" for="title">Title<span
                                                        class="required">*</span>
                                                    </label>
                                                    <input type="text" name="title" class="form-control"
                                                      placeholder="Enter title.." id="title">
                                                  </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                  <div class="form-group">
                                                    <label class="form-label" for="duration">Duration<span
                                                        class="required">*</span>
                                                    </label>
                                                    <input type="time" name="duration" class="form-control"
                                                      placeholder="Enter duration.." id="duration">
                                                  </div>
                                                </div> 
                                                <div class="col-sm-12">
                                                  <div class="spacer">OR</div>
                                                </div>-->
                                                <div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label class="form-label">Upload Attachments</label>
                                                    <input type="file" name="slide_attachments" id="attachments"
                                                      class="form-control select-attachments h-auto"
                                                      data-allowed-file-extensions="pdf"
                                                      data-max-file-size-preview="5M">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-sm-12 text-right mb-3">
                                                  <button class="btn theme-btn save-lecture-details" type="button"><img class="mr-1"
                                                      src="/images/save.svg" alt="img"> Save</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <!--slides end-->

                        <!-- practices start -->
                        <div class="practice accordion" id="practice">
                          <div class="chp-add-section">
                            <div class="chp-heading">
                              <div class="left-heading"> <img class="mr-2" src="/images/practice1.svg" alt="img">
                                <span class="editable-heading">Practices</span>
                              </div>
                              <div class="right-icons">
                                <a href="javascript:void(0);" data-toggle="tooltip" rel="tooltip" data-placement="top"
                                  title="Preview All"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#practicePanel"
                                  aria-expanded="false" aria-controls="practicePanel"><img class="mr-2"
                                    src="/images/edit.svg" alt="img" data-toggle="tooltip" rel="tooltip"
                                    data-placement="top" title="Edit"></a>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#practicePanel"
                                  aria-expanded="false" aria-controls="practicePanel"><img src="/images/arrowdown.svg"
                                    alt="img">
                                </a>
                              </div>
                            </div>
                            <div id="practicePanel" class="collapse" data-parent="#practice">
                              <div class="card-body">
                                <div class="practice-card">
                                  <h3 class="title-text mb-3">Add Practice</h3>
                                  <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="pills-single-sel-tab" data-toggle="pill"
                                        href="#pills-single-sel" role="tab" aria-controls="pills-single-sel"
                                        aria-selected="true"><img src="/images/single-sel.svg" alt="img">Single
                                        Select</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-multi-sel-tab" data-toggle="pill"
                                        href="#pills-multi-sel" role="tab" aria-controls="pills-multi-sel"
                                        aria-selected="false"><img src="/images/multi-sel.svg" alt="img"> Multiple
                                        Selects</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-type-text-tab" data-toggle="pill"
                                        href="#pills-type-text" role="tab" aria-controls="pills-type-text"
                                        aria-selected="false"><img src="/images/type-text.svg" alt="img"> Type Text</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-drag-drop-tab" data-toggle="pill"
                                        href="#pills-drag-drop" role="tab" aria-controls="pills-drag-drop"
                                        aria-selected="false"><img src="/images/drag-drop.svg" alt="img"> Drag &
                                        Drop</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-single-sel" role="tabpanel"
                                      aria-labelledby="pills-single-sel-tab">
                                      <h3 class="title-text mb-3">Add Single Question</h3>
                                      <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-3 mb-3 mb-md-0">
                                          <div class="form-group">
                                            <input type="file" name="" id="" class="form-control single-img h-auto"
                                              data-allowed-file-extensions="jpg jpeg png svg"
                                              data-max-file-size-preview="5M">
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-9">
                                          <div class="form-group">
                                            <label class="form-label">Practice Question</label>
                                            <input class="form-control" type="text"
                                              placeholder="Dose John go to the Zoo on Monday?">
                                          </div>
                                          <div class="form-group">
                                            <label class="form-label">Duration</label>
                                            <input class="form-control" type="time" value="">
                                          </div>
                                          <div class="form-group mb-0">
                                            <label class="form-label">Discription</label>
                                            <textarea class="form-control" placeholder="Enter your text"></textarea>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="spacer2"></div>
                                      <div class="w-50 mx-auto add-more-section mb-30">
                                        <a class="add-section theme-btn w-100 text-center"
                                          href="javascript:void(0);"><img src="/images/addcircle.svg" alt="img"> Add
                                          Options</a>
                                      </div>
                                      <div class="quiz accordion" id="que_option">
                                        <div class="chp-add-section">
                                          <div class="chp-heading lightgray">
                                            <div class="chp-title text-truncate">
                                              <img class="mr-1" src="/images/basic.svg" alt="img">
                                              01 Option
                                            </div>
                                            <div class="right-icons">
                                              <a href="#add_option1" aria-expanded="false" data-toggle="collapse"
                                                data-target="#add_option1" aria-controls="add_option1">
                                                <img class="mr-1" src="/images/edit.svg" alt="img">
                                              </a>
                                              <a class="delete-btn" href="javascript:void(0);"><img
                                                  src="/images/trash.svg" alt="img"></a>
                                              <label class="yes_no_toggle">
                                                <span>Correct Answer ?</span>
                                                <input type="checkbox" checked data-toggle="toggle" data-on="Yes"
                                                  data-off="No" data-onstyle="success" data-offstyle="danger">
                                              </label>
                                            </div>
                                          </div>
                                          <div class="collapse" id="add_option1" data-parent="#que_option">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                              life
                                              accusamus
                                              terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                              skateboard
                                              dolor.
                                            </div>
                                          </div>
                                        </div>
                                        <div class="chp-add-section">
                                          <div class="chp-heading lightgray">
                                            <div class="chp-title text-truncate">
                                              <img class="mr-1" src="/images/basic.svg" alt="img">
                                              02 Option
                                            </div>
                                            <div class="right-icons">
                                              <a href="#add_option2" aria-expanded="false" data-toggle="collapse"
                                                data-target="#add_option2" aria-controls="add_option2">
                                                <img class="mr-1" src="/images/edit.svg" alt="img">
                                              </a>
                                              <a class="delete-btn" href="javascript:void(0);"><img
                                                  src="/images/trash.svg" alt="img"></a>
                                            </div>
                                          </div>

                                          <div class="collapse" id="add_option2" data-parent="#que_option">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                              life
                                              accusamus
                                              terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                              skateboard
                                              dolor.
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="add_option_block">
                                        <div class="add_option_form">
                                          <a href="javascript:void(0);" class="close_btn"><img src="/images/close.svg"
                                              alt="img"></a>
                                          <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                              <div class="form-group">
                                                <input type="file" name="" id="" class="form-control single-img h-auto"
                                                  data-allowed-file-extensions="jpg jpeg png svg"
                                                  data-max-file-size-preview="5M">
                                              </div>
                                            </div>
                                            <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
                                              <div class="form-group">
                                                <label class="form-label">Add Option</label>
                                                <input class="form-control" type="text" placeholder="04 Option">
                                              </div>
                                              <div class="form-group">
                                                <label class="form-label">Add Explanation</label>
                                                <textarea class="form-control" placeholder="Text Here"></textarea>
                                              </div>
                                              <div class="form-group mb-0">
                                                <div class="row">
                                                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                                    <label class="form-label mb-0">Display preference</label>
                                                    <div class="btn-group">
                                                      <div class="option-check-btn">
                                                        <input type="checkbox" class="btn-check" id="btn-check-1">
                                                        <label class="check-label" for="btn-check-1">Text</label>
                                                      </div>
                                                      <div class="option-check-btn">
                                                        <input type="checkbox" class="btn-check" id="btn-check-2"
                                                          checked>
                                                        <label class="check-label" for="btn-check-2">Image</label>
                                                      </div>
                                                      <div class="option-check-btn">
                                                        <input type="checkbox" class="btn-check" id="btn-check-3">
                                                        <label class="check-label" for="btn-check-3">Both</label>
                                                      </div>
                                                    </div>

                                                  </div>
                                                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 align-self-center">
                                                    <div class="yes_no_toggle justify-content-xl-end">
                                                      <span>Correct Answer ?</span>
                                                      <input type="checkbox" checked data-toggle="toggle" data-on="Yes"
                                                        data-off="No" data-onstyle="success" data-offstyle="danger">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="form-btn">
                                          <a href="javascript:void(0);" class="theme-btn shadow-btn">Close</a>
                                          <button type="button" class="theme-btn2 shadow-btn2">Save</button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-multi-sel" role="tabpanel"
                                      aria-labelledby="pills-multi-sel-tab">Multiple Selects</div>
                                    <div class="tab-pane fade" id="pills-type-text" role="tabpanel"
                                      aria-labelledby="pills-type-text-tab">Type Text</div>
                                    <div class="tab-pane fade" id="pills-drag-drop" role="tabpanel"
                                      aria-labelledby="pills-drag-drop-tab">Drag & Drop</div>
                                  </div>
                                </div>
                                <div class="option accordion" id="que_section">
                                  <div class="chp-add-section">
                                    <div class="chp-heading">
                                      <div class="chp-title text-truncate">
                                        <img class="mr-1" src="/images/basic.svg" alt="img">
                                        Other Practice Question
                                      </div>
                                      <div class="right-icons">
                                        <a href="javascript:void(0);"><img class="mr-1" src="/images/eye.svg"
                                            alt="img"></a>
                                        <a href="#que_panel1" aria-expanded="false" data-toggle="collapse"
                                          data-target="#que_panel1" aria-controls="que_panel1">
                                          <img class="mr-1" src="/images/edit.svg" alt="img">
                                        </a>
                                        <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg"
                                            alt="img"></a>
                                      </div>
                                    </div>
                                    <div class="collapse" id="que_panel1" data-parent="#que_section">
                                      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        accusamus
                                        terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="chp-add-section">
                                    <div class="chp-heading">
                                      <div class="chp-title text-truncate">
                                        <img class="mr-1" src="/images/basic.svg" alt="img">
                                        Other Practice Question
                                      </div>
                                      <div class="right-icons">
                                        <a href="javascript:void(0);"><img class="mr-1" src="/images/eye.svg"
                                            alt="img"></a>
                                        <a href="#que_panel2" aria-expanded="false" data-toggle="collapse"
                                          data-target="#que_panel2" aria-controls="que_panel2">
                                          <img class="mr-1" src="/images/edit.svg" alt="img">
                                        </a>
                                        <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg"
                                            alt="img"></a>
                                      </div>
                                    </div>

                                    <div class="collapse" id="que_panel2" data-parent="#que_section">
                                      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        accusamus
                                        terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- practices end -->

                        <!-- challenges start -->
                        <div class="challenge accordion" id="challenges">
                          <div class="chp-add-section">
                            <div class="chp-heading">
                              <div class="left-heading"> <img class="mr-2" src="/images/challenges1.svg" alt="img"><span
                                  class="editable-heading">Challenges</span></div>
                              <div class="right-icons">
                                <a href="javascript:void(0);" data-toggle="tooltip" rel="tooltip" data-placement="top"
                                  title="Preview All"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#challengesPanel"
                                  aria-expanded="false" aria-controls="challengesPanel"><img class="mr-2"
                                    src="/images/edit.svg" alt="img" data-toggle="tooltip" rel="tooltip"
                                    data-placement="top" title="Edit"></a>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#challengesPanel"
                                  aria-expanded="false" aria-controls="challengesPanel">
                                  <img src="/images/arrowdown.svg" alt="img">
                                </a>
                              </div>
                            </div>
                            <div id="challengesPanel" class="collapse" data-parent="#challenges">
                              <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                                3
                                wolf
                                moon officia aute, non cupidatat skateboard dolor.
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- challenges end -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-0 mt-4 clearfix">
          <a href="javascript:void(0);" class="form-wizard-previous-btn theme-btn float-left">Previous</a>
          <a href="javascript:void(0);" class=" theme-btn float-right submitbtn">Add</a>
        </div>
      </fieldset>
      <!-- Step2-->

      <!-- Step3-->
      <fieldset class="wizard-fieldset">

        <div class="success-box">
          <img src="/images/success-icon.svg" alt="img">
          <h4>Successfully Added to List</h4>
          <p>Lorem ipsum dolor sit amet secteturAmet<br> eu id sed nibh pellentesque.</p>
          <a href="/learning-content" class="theme-btn"><img class="mr-2" src="/images/arrow-left.svg" alt="img"></i>
            Back To List</a>
        </div>

      </fieldset>
      <!-- Step3-->

    </form>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.min.js"></script>
<%- include('./form_script'); %>