<div class="right_col" role="main">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="stcard-box">
                <span class="shade1">
                    <%=learningContentObject.total%>
                </span>
                <h3 class="title-text mb-0">Total Content</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="stcard-box">
                <span class="shade2">
                    <%=learningContentObject.active%>
                </span>
                <h3 class="title-text mb-0">Active Content</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="stcard-box">
                <span class="shade3">
                    <%=learningContentObject.deactive%>
                </span>
                <h3 class="title-text mb-0">Deactive Content</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="stcard-box">
                <span class="shade4">0</span>
                <h3 class="title-text mb-0">Assigned Content</h3>
            </div>
        </div>
    </div>

    <div class="card-block mb-30">
        <h3 class="title-text">Filter Grades</h3>
        <ul class="filter-row">
            <li class="filter-col">
                <select class="form-control select2" id="grades" tabindex="-1" single>
                    <option value="">Select Grade</option>
                    <% for(grades of grades) { %>
                        <option value="<%=grades.id%>">
                            <%=grades.name%>
                        </option>
                        <% } %>
                </select>
            </li>
            <li class="filter-col">
                <select class="form-control select2" id="topics" tabindex="-1" single>
                    <option value="">Select Main Topic</option>
                    <% for(topic of topics) { %>
                        <option value="<%=topic.id%>">
                            <%=topic.name%>
                        </option>
                        <% } %>
                </select>
            </li>
            <li class="filter-col">
                <select class="form-control select2" id="subTopics" tabindex="-1" single>
                    <option value="">Select Sub Topic</option>
                </select>
            </li>
            <li class="filter-col">
                <select class="form-control select2" id="status" tabindex="-1" single>
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">Deactive</option>
                </select>
            </li>
            <li class="filter-col">
                <button class="btn theme-btn filter">Filter</button>
                <button class="btn theme-btn reset">Reset</button>
            </li>
        </ul>
    </div>

    <div class="card-block text-center text-md-left">

        <div class="row">
            <div class="col-sm-12 col-md-4 align-self-center">
                <h3 class="title-text mb-0">My Content <span class="total-count">Total Content :
                        <%=learningContentObject.total%>
                    </span></h3>
            </div>
            <div class="col-sm-12 col-md-8 align-self-center">
                <div class="course-pagination">
                    <div class="input-group my-3 m-md-0 input-search">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <ul class="pagination mb-0 justify-content-end">
                        <li><span class="showing-item">Showing <span id="totalRecordsOfCurrentPage">3</span> of <span id="totalRecords">3</span></li>
                        <li class="page-item">
                            <a class="page-link prev" href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item current"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link next" href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12" id="myContent">
                <ul class="course-list">
                </ul>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").select2({
            allowClear: false,
        });

        getContent();

        $('#topics').change(function () {
            let topicId = $(this).val();
            loadSubTopic(topicId);
        })

        $(".reset").click(function () {
            $("#grades").val(null).trigger("change");
            $("#topics").val(null).trigger("change");
            $('#subTopics').empty();
            $("#status").val(null).trigger("change");
        });

        $(".filter").click(function () {
            let grade = $('#grades').val();
            let topic = $('#topics').val();
            let subTopic = $('#subTopics').val();
            let status = $('#status').val();
            dataTable(grade, topic, subTopic, status);
        });

    });

    /**
     * loadSubTopic
     * */
    function loadSubTopic(topicId) {
        $.ajax({
            type: "POST",
            url: '/learning-content/renderSubtopic',
            data: {
                id: topicId,
            },
            success: function (response) {
                $('#subTopics').empty();
                console.log(response.length);
                if (response.length > 0) {
                    var newOption = new Option("Select Sub Topic", "", false, false);
                    $('#subTopics').append(newOption).trigger('change');
                    for (res of response) {
                        newOption = new Option(res.name, res._id, false, false);
                        $('#subTopics').append(newOption).trigger('change');
                    }
                } else {
                    $('#subTopics').html('No results found.').trigger('change');
                }
            },
        });
    }


    /**
     * dataTable
     * */
    function getContent(showEntries = 10, currentPage = 1, grade = '', topic = '', subTopic = '', status = '', search='') {
        $('.course-list').empty();
        $.ajax({
            type: "POST",
            url: '/learning-content/listing',
            data: {
                showEntries: showEntries,
                currentPage: currentPage,
                grade: grade,
                topic: topic,
                subTopic: subTopic,
                status: status,
                search: search,
            },
            success: function (response) {
                console.log(response);
                const res = JSON.parse(response);
                console.log(res.recordsFiltered);
                console.log(res.recordsTotal);
                console.log(res.totalNoOfPages);
                console.log(res.data);        
                
                $('.total-count').html('Total Content : '+ res.recordsTotal);
                $('#totalRecordsOfCurrentPage').html(res.recordsFiltered);
                $('#totalRecords').html(res.recordsTotal);

                $('#totalNoOfPages').html(res.totalNoOfPages);
                $('#currentPage').html(res.currentPage);

                $('.course-list').append(res.courses.join('\n'));
                
            },
        });
    }

</script>